.flex {
    display: flex;
}

.landing {
    min-height: 100vh;
    position: relative;
}

.pad1 {
    padding: 3rem;
}

.landing .container {
    background-color: rgba(255,255,255,0.8);
    width: fit-content;
    border-radius: 1rem;
    opacity: 0;
    margin-top: 20rem;
    backdrop-filter: blur(1px);
    transition: 0.3s;
}

    .landing .container:hover {
        border-bottom: #f03c02 solid 5px !important;
        margin-bottom: 3rem !important;
    }

.bgtitle {
    right: 30%;
    top: 8%;
    color: white;
    font-size: 10rem;
    opacity: 0.5;
    text-transform: capitalize;
    font-weight: bolder;
    z-index: -1;
    filter: blur(1px);
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f03c02;
    opacity: 0.8;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 63% 0, 50% 51%, 38% 100%, 0 100%, 0% 47%);
}

.landing::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 23, 21, 0.7);
    opacity: 1;
    right: 0;
    top: 0;
    clip-path: polygon(63% 0, 100% 0, 100% 44%, 100% 100%, 38% 100%, 50% 51%);
    z-index: -2;
}

.landing .container h1 {
    color: rgba(28, 23, 21, 0.7);
}

.landing .container form {
    gap: 1rem;
    padding: 1rem;
}

    .landing .container form .row {
        column-gap: 1rem;
    }

.form-group {
    padding: 0;
}

.btnsubmit {
    background-color: #f03c02;
    color: white;
    border: #f03c02 1px solid;
    transition: 0.3s;
}

    .btnsubmit:hover {
        background-color: white;
    }
.landing .container i {
    position: absolute;
    left: 8%;
    bottom: 8%;
    color: #f03c02;
    font-size: 1.5rem;
    transition: 0.3s;
}

    .landing .container i:hover {
        font-size: 2rem;
        color: rgba(28, 23, 21, 0.7);
        left: 5%;
    }
.alert {
    background-color: #f03c02;
    color: white;
    border: #f03c02 1px solid;
    transition: 0.3s;
}

    .alert:hover {
        transform: scale(1.1);
    }