<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" asp-append-version="true" href="~/css/SignUp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Aref+Ruqaa+Ink:wght@400;700&family=Cairo+Play:wght@300&family=Marhey&family=Roboto+Condensed:ital,wght@0,100;0,300;0,400;1,100;1,200;1,400;1,700;1,800;1,900&family=Vina+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing flex justify-content-center align-items-center">
        <h1 class="position-absolute bgtitle">SignUp    <br>NOW</h1>
        <div class="container flex justify-content-center align-items-center  pad1 flex-column position-relative">
            <a asp-action="Index" asp-controller="Login"><i class="fa-solid fa-angles-left"></i></a>
            <h1 class="font-weight-bold">SignUp</h1>
            @if(ViewBag.ErrorMessage==true){
                <div class="alert text-center" role="alert">
                    This Username or Password Already In Use
                </div>
             }
            <form asp-action="Sign"  class="d-grid">
                <div class="row">
                    <div class="col-lg-5 form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input  type="text" class="form-control" placeholder="ex: Karim..">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="exampleInputPassword1">Sir Name</label>
                        <input  class="form-control" placeholder="ex: Khaled..">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-5">
                        <label  for="exampleInputPassword1">OnlineID(Username)</label>
                        <input required="true" class="form-control" placeholder="ex: Karim549.." name="Username">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input required="true" name="Password" type="password" class="form-control" placeholder="*****">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="exampleInputPassword1">Repeat Password</label>
                        <input name="RepeatPassword" required="true" type="password" class="form-control" placeholder="*****">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 flex justify-content-center align-item-center ">
                        <button type="submit" class="btn btnsubmit ">Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/8741f503b5.js" crossorigin="anonymous"></script>


</body>
</html>